 .title-box {

   color: var(--main-color-1) !important;
   text-decoration: none !important;
   margin-bottom: 30px !important;
   font-weight: 700 !important;
   font-size: var(--fnt-35px) !important;
   text-align: center;
   padding: 0 !important;
   display: block;
 }

 .title-box span {
   color: var(--font-color-1);
   font-style: normal;
   text-decoration: underline;
 }