 .box-info {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
 }

 .box-info .info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
 }

 .box-info .info:nth-child(1) {}

 .box-info .info:nth-child(2) {}




 .box-info .info h6 {
   color: var(--font-color-1);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
 }

 .box-info .info h5 {
   text-transform: capitalize;
   font-size: var(--fnt-15px);
   color: var(--font-color-1);
 }

 .box-info .info h6 span {
   color: var(--font-color-1);
 }

 .box-info .info h6 i {
   font-size: var(--fnt-16px);

 }

 .box-info .info:nth-child(1) h5 {
   text-transform: capitalize;
   font-weight: 700;
   font-size: var(--fnt-15px);
   color: var(--font-color-1);
 }

 .box-info .info:nth-child(1) h6 {
   text-transform: capitalize;
   font-weight: 700;
   font-size: var(--fnt-15px);
   color: var(--font-color-1);

 }

 .box-info .info:nth-child(1) h6 svg {

   color: var(--main-color-2);
 }

 .box-info .info:nth-child(2) h5 {
   color: var(--font-color-2);
 }

 .box-info .info:nth-child(2) h6 {}

 .box-info .info:nth-child(2) h6 i {}

 .box-info .info:nth-child(2) h6 span {}



 .box-info .info h6 svg {
   color: var(--main-color-1);
 }