.navbar {
  background-color: transparent !important;
}

.navbar .active {

  color: var(--main-color-1) !important;
}

.navbar .container {
  align-items: center;
}

.navbar-nav {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 0px;
  margin-right: 0px;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
  text-align: left;
}

.navbar-toggler svg {
  font-size: var(--fnt-25px);
  color: var(--main-color-1);

}

.navbar-toggler {
  box-shadow: none !important;

}

.navbar-toggler.collapsed svg {
  color: var(--font-color-2);

}


.navbar-nav a {
  display: block;
  font-weight: 400;
  font-size: var(--fnt-15px);
  text-transform: capitalize;
  color: #666;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 10px 20px;
  border-radius: 18px;
  letter-spacing: .3px;
  margin: 0 10px;

}

.navbar-nav a:last-child {
  background-color: var(--back-color-2);
  padding: 10px 20px !important;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navbar-nav a:last-child img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar-nav a:last-child:hover,
.navbar-nav a:last-child.active {
  color: var(--font-color-1) !important;
  background-color: var(--main-color-1) !important;
}

.nav-link:focus, .nav-link:hover {
  color: var(--main-color-1) !important;
}



.navbar form {
  margin: 30px 0 10px;

}

.navbar form input {
  background-color: var(--back-color-2) !important;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  color: var(--font-color-2);
  border-radius: var(--main-border-radius);
  padding: 10px 15px !important;
}

.navbar form input::placeholder {
  font-size: var(--fnt-15px);
  font-weight: 400;
  text-transform: capitalize;
}

.navbar form input:focus {
  border: 1px solid var(--font-color-1);
  ;

  color: var(--font-color-1);

}