footer p {
  text-align: center;
  padding: 30px 0px;
  color: var(font-color-1);
  font-weight: 300;
}

footer p a {
  color: var(--font-color-1);
  transition: var(--transition);
  text-decoration: none;
}

footer p a:hover {
  color: var(--main-color-1);
}