:root {
  --main-color-1: #e75e8d;
  --main-color-3: #ec6090;
  --main-color-2: #ffff00;
  --back-color-1: #1f2122;
  --back-color-2: #27292a;
  --font-color-1: #fff;
  --font-color-2: #666666;
  --font-color-3: #444444;
  --transition: .3s;
  --main-margin: 60px;
  --main-border-radius: 30px;

  --fnt-14px: 14px;
  --fnt-15px: 15px;
  --fnt-16px: 16px;
  --fnt-17px: 17px;
  --fnt-18px: 18px;
  --fnt-18px: 18px;
  --fnt-19px: 19px;
  --fnt-20px: 20px;
  --fnt-22px: 22px;
  --fnt-25px: 25px;
  --fnt-28px: 28px;
  --fnt-30px: 30px;
  --fnt-33px: 33px;
  --fnt-35px: 35px;
  --fnt-38px: 38px;
  --fnt-40px: 40px;
  --fnt-45px: 45px;
  --fnt-48px: 48px;
}

@media (max-width:767px) {
  :root {

    --main-margin: 20px;


    --fnt-22px: 20px;

    --fnt-45px: 40px;
  }
}

body {
  background-color: var(--back-color-1) !important;
}

.all-container {
  background-color: var(--back-color-2);
  border-radius: var(--main-border-radius);
  padding: var(--main-margin) !important;
  display: grid;
  gap: 50px;
  position: relative !important;
}

* {
  font-family: 'Poppins', sans-serif;

}

::selection {
  background: var(--main-color-1);
  color: #fff;
}

#root {
  padding: 0 10px;
}

.mn-button {
  all: unset;
  cursor: pointer;
  padding: 12px 30px;
  border-radius: var(--main-border-radius) !important;
  text-transform: capitalize;
  transition: var(--transition);
  font-size: var(--fnt-14px);
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--font-color-3);


}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color-1);
  border-radius: 30px;

}

/*
@media (max-width:767px) {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 !important;
  }
} */

/* ========= */
/* width: 100%;
max-width: 100%;
margin-left: auto !important;
margin-right: auto !important; */